/.github/
/.vscode/
/.vscode-test/

/dist/*
!/dist/slidaiv-cli.js

/node_modules/
/demo/
/e2e/
/out/
/resources/
/src/

.babelrc
.eslintrc.json
.vscode-test.mjs
.vscodeignore
webpack.config.js
*.vsix
*.json